sudo: false
language: python
dist: xenial
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'

install: pip install -e .[yaml,toml,tests,xml,hjson,json5]

script:
  - pytest -v
  - flake8 jinja2cli tests
